<template>
  <div>hello</div>
</template>

<script>
export default {
  name: "IpAddress",
  async created() {
  console.log("start ..")
  console.log(Neutralino.clipboard)
  let clipboardText = await Neutralino.clipboard.readText();
  console.log(`Text: ${clipboardText}`);
  }
}
</script>

<style>

</style>