<template>
  <v-card :loading="loading" class="card">
    <v-card-title>netstat</v-card-title>
    <v-container>
      <v-row>
        <v-col cols="8"><v-text-field v-model="port"></v-text-field></v-col>
        <v-col cols="4"><v-btn @click="queryProcess">Query</v-btn></v-col>
      </v-row>
      <v-list >
        <v-list-item two-line v-for="process in processes" :key="process.localAddress+process.localPort+process.pid+process.proto">
          <v-list-item-action>
            <v-checkbox :input-value="active"  disabled color="primary"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
            <slot>
              <div>
              <span>{{process.proto}} </span>
              <span>{{process.localAddress}}</span><span>:</span>
              <span class="red--text">{{process.localPort}}</span>
              </div>
            </slot>
            </v-list-item-title>
            <v-list-item-subtitle v-text="process.pid"></v-list-item-subtitle>
            <v-list-item-subtitle v-text="process.programName"></v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <!-- <v-list-item-action-text
              v-text="11"
            ></v-list-item-action-text> -->

            <v-btn icon @click="killProcess(process.pid)"><v-icon color="red darken-3"> mdi-stop </v-icon></v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-container>

    <v-card-actions>
      <v-btn color="red" text disabled> kill </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { parseNetstat ,taskkill } from "../../tool/NetStatParser";

export default {
  name: "PortKill",
  data() {
    return {
      port: "",
      loading: false,
      active: false,
      processes: [
        {
          oreignAddress: "0.0.0.0",
          foreignPort: "*",
          localAddress: "0",
          localPort: "8080",
          pid: "",
          programName: "Test",
          proto: "演示数据",
          recvQ: "0",
          sendQ: "0",
          state: "LISTEN",
        },
      ],
    };
  },
  methods: {
    async queryProcess() {
      this.loading=true
      this.processes=[]
      console.log("query port:" + this.port);
      let result = await parseNetstat(this.port);
      result=result.filter(item=>item.localPort.indexOf(this.port)!=-1)
      for (let process of result) {
        this.processes.push(process);
      }
      this.loading=false
    },
    loadProcess() {},
    async killProcess(pid) {
      this.loading=true
      await taskkill(pid)
      await this.queryProcess()
      this.loading=false

    }
  },
};
</script>

<style>
.card {
  width: 400px;
}
</style>
